body {
    background-color: #fefefe;
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.carte {
    border: 2px solid #222;
    border-radius: 2rem;
    padding: 3rem 2rem;
    background-color: white;
    box-shadow: 5px 5px 0 #000;
    width: 90%;
    max-width: 600px;

    height: 600px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.entete {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.mot {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.type {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 1rem;
    color: darkblue;
}

.definition {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.exemple {
    font-style: italic;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 2rem;
}

button {
    font-family: 'Comic Neue', cursive;
    font-size: 2rem;
    padding: 0.8rem 1.5rem;
    border: 2px solid #2a6fb1;
    background-color: #a8d4f9;
    color: #094c7d;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #87c4f4;
}

@media (max-width: 480px) {
    .entete {
        font-size: 1.8rem;
    }

    .mot {
        font-size: 2rem;
    }

    .type {
        font-size: 1.5rem;
    }

    .definition,
    .exemple {
        font-size: 1.8rem;
    }

    button {
        font-size: 1.5rem;
        padding: 0.6rem 2rem;
    }
}
